<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <title>快速求购-电池宝 www.dianchibao.com</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit">
        <meta name="keywords" content="电池宝，势绿新能源，新能源，锂电池，锂电，电芯，三元，磷酸铁锂，电池交易，锂电百科，方形铝壳，18650，软包，充电电池，电池定制，动力，储能，电池回收，电动车，玩具电池">
        <meta name="description" content="电池宝交易平台（上海势绿新能源科技有限公司）是一家专注于提高电池、电芯交易速度、维度的高科技互联网企业，与中国各大电芯厂一起致力于推动电池的技术以及流通进步，并勇敢地走出国门，努力成为中国电芯的出海口与桥头堡。">
        <script src="../js/hm.js"></script>
        <link href="../css/common.d7a21df1.css" rel="stylesheet"><link href="../css/inquiry.d7a21df1.css" rel="stylesheet">
    </head>
<body>
<!-- 头部 -->
  <div id="app">
    <header id="header">
      <div class="container">
        <div class="logo">
            <a href="../index.html"><img class="img" src="../picture/logo.png" alt="logo"></a>
        </div>
  <!-- 导航 -->
        <nav class="menu">
          <div class="item">
            <span>
              <a href="../index.html">官网</a>
            </span>
          </div>
          <div class="item">
            <span>
              <a href="../product/product.html">找电池</a>
            </span>
          </div>
          <div class="item ">
            <span>
              <a href="../news/news.html">行业资讯</a>
            </span>
          </div>
          <div class="item active">
            <span>
              <a href="../ksqg/ksqg.html">快速求购</a>
            </span>
          </div>
          <div class="item ">
            <span>
              <a href="../kcbx/kcbx.html">库存变现</a>
            </span>
          </div>
        </nav>
        <div class="user-auth">
            <span class="btn login-btn">登录</span>
            <span>/</span>
            <span class="btn register-btn"><a href="../zc/zc.html">注册</a></span>
        </div>
      </div>
    </header>
<!-- 快速求购 -->
    <div class="container">
        <div id="inquiry" class="inquiry">
            <div class="contact-card">
                <div class="bg">
                    <i class="icon icon-contact-w"></i>
                    <div class="text">工作日 9：00 - 18：00 如有疑问，随时联系！</div>
                    <div class="text">
                        <span>021-5401 5537</span>
                        <a  href="http://wpa.qq.com/msgrd?v=3&uin=2164618720&site=qq&menu=yes" target="_blank">
                            <button class="btn btn-primary">
                                <i class="icon icon-qq-colour"></i>
                                立即联系
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <form class="form">
                <div class="form-title">采购清单</div>
                <div class="form-body">
                    <div class="form-table">
                        <div class="form-table-header row">
                            <div class="td t1">产品类型</div>
                            <div class="td t2">形状结构</div>
                            <div class="td t5">电芯材质</div>
                            <div class="td t6">应用类型</div>
                            <div class="td t12">电压V</div>
                            <div class="td t7">容量Ah</div>
                            <div class="td t3">尺寸（mm）</div>
                            <div class="td t10">数量</div>
                            <div class="td t11">总价</div>
                        </div>
                        <div class="form-table-body">
                            <div class="html">
                                <script type="text/template" id="inquiryTemp">
                                    <% for(var i=0; i < data.length; i++ ){ %>
                                    <div class="row">
                                        <div class="td t1">
                                            <select class="to-cal-price" name="<%='productCategory-'+i%>" value="<%=data[i].productCategory%>">
                                                <option value="DX">电芯</option>
                                                <option value="MZ">模组</option>
                                                <option value="DCB">电池包</option>
                                            </select>
                                        </div>
                                        <div class="td t2">
                                            <select name="<%='structureAppearance-'+i%>" value="<%=data[i].structureAppearance%>">
                                                <option value="YZ">圆柱形</option>
                                                <option value="RB">软包</option>
                                                <option value="FX">方形</option>
                                                <option value="NK">纽扣</option>
                                               </select>
                                        </div>
                                        <div class="td t5">
                                            <select class="to-cal-price" name="<%='batteriesMaterial-'+i%>" value="<%=data[i].batteriesMaterial%>">
                                                <option value="SY">三元</option>
                                                <option value="LSTL">磷酸铁锂</option>
                                                <option value="TSL">钛酸锂</option>
                                                <option value="ML">锂锰</option>
                                                <option value="FHL">复合锂</option>
                                                <option value="TANSTL">碳酸铁锂</option>
                                                <option value="GSL">钴酸锂</option>
                                                <option value="MSL">锰酸锂</option>
                                            </select>
                                        </div>
                                        <div class="td t6">
                                            <select name="<%='applyCategory-'+i%>" value="<%=data[i].applyCategory%>">
                                                <option value="DL">动力</option>
                                                <option value="CN">储能</option>
                                                <option value="RL">容量</option>
                                            </select>
                                        </div>
                                        <div class="td t12">
                                            <input class="to-cal-price" type="number" min="0" name="<%='voltage-'+i%>" value="<%=data[              i].voltage%>">
                                        </div>
                                        <div class="td t7 capacity">
                                            <input class="to-cal-price" type="number" min="0" name="<%='capacityo-'+i%>" value="<%=data[                i].capacityo%>">
                                            <span>~</span>
                                            <input class="to-cal-price" type="number" min="0" name="<%='capacityt-'+i%>" value="<%=data[                i].capacityt%>">
                                        </div>
                                        <div class="td t3 <%=(data[i].structureAppearance === 'YZ' || data[i].structureAppearance               ===               'NK')?'width':''%>">
                                            <input type="number" min="0" name="<%='thickness-'+i%>" value="<%=data[i].thickness%>"              placeholder="<%=(data[               i].structureAppearance === 'YZ' || data[               i].structureAppearance === 'NK')?'φ直径':'厚'%>">
                                            <input class="w" type="number" min="0" name="<%='width-'+i%>" value="<%=data[i].width%>"                placeholder="宽">
                                            <input type="number" name="<%='height-'+i%>" min="0" value="<%=data[i].height%>"                placeholder="高">
                                        </div>
                                        
                                        <div class="td t10">
                                            <input class="to-cal-price" type="number" min="0" name="<%='whPrice-'+i%>" value="<%=data[              i].whPrice%>">
                                        </div>
                                        <div class="td t11">
                                            <input class="to-cal-price" type="number" min="0" name="<%='ahPrice-'+i%>" value="<%=data[              i].ahPrice%>">
                                        </div>
                                
                                        <% if(i > 0){ %>
                                        <div class="icon icon-close"></div>
                                        <% } %>
                                        </div>
                                    <% } %>
                                </script>
                            </div>
                            <div class="btn btn-add">+新增产品</div>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <div class="btn btn-submit">立即提交</div>
                </div>
                <div class="form-title">联系方式</div>
                    <div class="form-body">
                        <div class="row">
                            <div class="fl col-6">
                                <div class="input-item contacts row">
                                    <div class="name">现有库存</div>
                                    <div class="input">
                                        <input type="text" name="contacts">
                                        <div class="r">*</div>
                                    </div>
                                    <div class="warning">请填写联系人</div>
                                </div>
                            </div>
                            <div class="fr col-6">
                                <div class="input-item phone row">
                                    <div class="name">现有库存量</div>
                                    <div class="input">
                                        <input type="text" name="phone">
                                        <div class="r">*</div>
                                    </div>
                                    <div class="warning">请填写联系电话</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
<!-- 底部 -->
        <div id="footer">
          <div class="container footer-content">
            <div class="row footer-hlep-nav">
              <div class="fl">
                <div class="footer-logo">
                  <div class="footer-contact">
                    <img src="../images/logo-footer.png">
                    </div>
                  </div>
                </div>
                <div class="fl">
                  <div class="help-group fl">
                    <div class="item title">
                      <span>企业官网</span>
                    </div>
                    <div class="item">
                      <span><a href="http://www.hbxinpower.com/">河北鑫动力1</a></span>
                    </div>
                    <div class="item">
                      <span><a href="http://www.xdlhb.cn/">河北鑫动力2</a></span>
                    </div>
                    <div class="item">
                      <span><a href="http://www.hb-xdl.cn/">河北鑫动力3</a></span>
                    </div>
                  </div>
                  <div class="help-group fl">
                    <div class="item title">
                      <span>韩迪梵商城</span>
                    </div>
                    <div class="item">
                      <span><a href="../product/product.html">电动车锂电池</a></span>
                    </div>
                    <div class="item">
                      <span><a href="../product/product.html">储能柜</a></span>
                    </div>
                    <div class="item">
                      <span><a href="../product/product.html">AGV小车锂电池</a></span>
                    </div>
                  </div>
                  <div class="help-group fl">
                    <div class="item title">
                      <span>韩迪梵聚焦</span>
                    </div>
                    <div class="item">
                      <span><a href="../news/news.html">关于我们</a></span>
                    </div>
                    <div class="item">
                      <span><a href="../news/news.html">热门文章</a></span>
                    </div>
                  </div>
                </div>
            <div class="fr">
                <div class="footer-code">
                    <div class="item-code">
                        <div class="title">
                            <i class="icon icon-weibo"></i>
                            微博
                        </div>
                        <div class="img">
                            <img src="../picture/weixin.jpg" alt="weibo dianchibao.com">
                        </div>
                    </div>
                    <div class="item-code">
                        <div class="title">
                            <i class="icon icon-wx"></i>
                            微信公众号
                        </div>
                        <div class="img">
                            <img src="../picture/weixin.png" alt="weixin dianchibao.com">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-nav">
        <a href="../index.html" class="box">首页</a>
        <div class="line"></div>
        <a href="../product/product.html" class="box">找电池</a>
        <div class="line"></div>
        <a href="../news/news.html" class="box">行业资讯</a>
        <div class="line"></div>
        <a href="../ksqg/ksqg.html" class="box">快速求购</a>
        <div class="line"></div>
        <a href="../kcbx/kcbx.html" class="box">库存变现</a>
    </div>
    <div class="copyright">
        <p>上海势绿新能源科技有限公司 版权所有 Copyright © 2020 dianchibao.com <a href="http://beian.miit.gov.cn" target="_blank">沪ICP备19039602号-1</a></p>
    </div>
</div>
</div>
<div id="toolbar">
    <div class="toolbar-content">
        <div class="item item01 code">
            <div class="code-img">
                <div class="title">微信公众号</div>
                <div class="imgBox">
                    <img class="img" src="../picture/weixin.png" alt="weixin">
                </div>
            </div>
            <div class="iconBox">
                <i class="icon icon-line-code"></i>
            </div>
        </div>
        <div class="item item02 qq">
            <a class="box" href="http://wpa.qq.com/msgrd?v=3&uin=2164618720&site=qq&menu=yes" target="_blank">
                <div class="text">
                    <span>客服</span>
                </div>
            </a>
            <div class="iconBox">
                <i class="icon icon-line-qq"></i>
            </div>
        </div>
        <div class="item item03 talphone">
            <span class="text">电话：021-54015537</span>
            <div class="iconBox">
                <i class="icon icon-line-phone"></i>
            </div>
        </div>
        <div class="item item04 top">
            <span class="text">顶部</span>
            <div class="iconBox">
                <i class="icon icon-line-top"></i>
            </div>
        </div>
    </div>
</div>
<div id="sign">
        <div class="shade"></div>
        <div class="sign-content">
          <div class="sms-content">
            <div class="title">账号登录</div>
            <div class="input-item phone">
              <input class="input" type="text" placeholder="请输入手机号" autocomplete="off">
              <div class="warning pw"></div>
            </div>
            <div class="input-item getcode">
              <input class="input" type="text" autocomplete="off" placeholder="密码">
              <div class="warning pw"></div>
            </div>
            <div class="input-item">
              <div class="btn btn-login">立即登录</div>
            </div>
          </div>
          <div class="code-content">
            <div id="wx-code"></div>
          </div>
          <div class="other-sign">
            <div class="other-sign-icon">
              <div class="btn sms active">
                <i class="icon icon-message-w w"></i>
                <i class="icon icon-message-b b"></i>
              </div>
            </div>
          </div>
          <a class="btn register-btn" href="../zc/zc.html">快速注册</a>
       </div>
</div>
      <div class="modal" id="confirm">
        <div class="shade close"></div>
        <div class="modal-content" style="width: 400px;">
          <div class="modal-head">
            <div class="title">温馨提示</div>
            <div class="close">
               <i class="icon icon-close"></i>
            </div>
          </div>
          <div class="modal-body">
            <div class="content">是否确定删除？</div>
            <div class="btns">
            <div class="btn ok">确定</div>
            <div class="btn cancel close">取消</div>
          </div>
          </div>
        </div>
      </div>
<script type="text/javascript" src="../js/common.d7a21df1042ad70cf2cf.js"></script><script type="text/javascript" src="../js/inquiry.d7a21df1042ad70cf2cf.js"></script>
</body>
</html>
